.chat_abbreviation {
    grid-area: ab;
    font-size: 1.5vw;
    padding:0.3vw;
    padding-top: 0.5vw;
    text-align: center;
}

.chat_name {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: 1px solid black;
    font-size: 1vw;
    grid-area: cn;
}

.recent_message {
    font-size: 0.8vw;
    grid-area: rm;
}

.ChatCard {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-auto-rows: minmax(25px, auto);
    grid-template-areas: "ab ab cn cn cn cn cn cn cn "
                         "ab ab rm rm rm rm rm rm rm"
}

* {
    box-sizing: border-box;
}

.ChatCard {
    border: 1px solid #ccc;
    margin: 0 0 1px 0;
    text-decoration: none;
    color: black;
}

.circleimg {
    height: auto;
    margin: auto;
    clip-path: circle(80px at center);
    display: block;
}

.activeChatCardHolder {
   background: #ebebfa
}

.activeChatCardHolder, .chatCardHolder {
  cursor: pointer;
}
