.game-brief {
  text-align: left;
}

.date {
  text-align: left;
}

.venue {
  text-align: right;
}

.voting {
  align-items: center;
}

.btn {
  margin-top: 5px;
  margin-bottom: 5px;
}

.card {
}

.card {
    padding: 10px;
    margin: 0;
    text-decoration: none;
    color: white;
}

.game-brief {
  font-size: 1.4vw;
}

.team-name {
  font-size: 1.4vw;
  display: inline;
  font-weight: bold;
}

.voting-header {
  font-size: 0.9vw;
  width: 100%;
}

.vote-up {
  border-bottom: 3px solid  #cccccc;
  font-size: 1.4vw
}

.vote-up-selected {
  border-bottom: 3px solid #009900;
  font-size: 1.4vw;
  font-weight: bold;
}

.vote-down {
  border-bottom: 3px solid #cccccc;
  font-size: 1.4vw;
}

.vote-down:hover, .vote-down-selected:hover, .vote-up:hover, .vote-up-selected:hover {
  background-color: #333;
  opacity: 0.5;
}

.vote-down-selected {
  border-bottom: 3px solid #ff0000;
  font-size: 1.4vw;
  font-weight: bold
}

.vote-up, .vote-down, .vote-up-selected, .vote-down-selected {
  margin-left: 1vw;
  cursor: pointer;
}

#preftext {
  font-size: 1.5vmin;
}

.votetable {
  width: 90%;
  table-layout: fixed;
  margin-left: auto;
  margin-right: auto;
}

.separatorcell {
  width: 5%;
}

.votecell {
  margin: 0;
  width: 30%;
  text-align: center;
  border-collapse:separate;
  border-spacing: 2.5%;
}
