.game-brief {
  text-align: left;
  grid-area: gb;
}

.date {
  grid-area: dt;
  text-align: left;
}

.venue {
  grid-area: vn;
  text-align: right;
}

.voting {
  grid-area: vt;
}

.accept {
  grid-area: ac;
}

.card {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-auto-rows: minmax(20px, auto);
    grid-row-gap: 1vh;
    grid-template-areas:
      "gb gb gb gb gb gb gb gb gb "
      "dt dt dt dt vn vn vn vn vn "
      "vt vt vt vt vt vt vt vt vt "
      "ac ac ac ac ac ac ac ac ac "
}

.card {
    padding: 10px;
    border-top: 3px solid #bfbfbf;
    border-bottom: 3px solid #bfbfbf;
    margin: 0;
    text-decoration: none;
    color: black;
}

.game-brief {
  font-size: 1.4vw;
}

.team-name {
  font-size: 1.4vw;
  display: inline;
  font-weight: bold;
}

.voting-header {
  font-size: 0.9vw;
  width: 100%;
  border-bottom: 3px solid  #cccccc;
}

.vote-up {
  border-bottom: 3px solid  #cccccc;
  font-size: 1.4vw
}

.vote-up-selected {
  border-bottom: 3px solid #009900;
  font-size: 1.4vw;
  font-weight: bold;
}

.vote-down {
  border-bottom: 3px solid #cccccc;
  font-size: 1.4vw;
}

.vote-down:hover, .vote-down-selected:hover, .vote-up:hover, .vote-up-selected:hover {
  background-color: #d9d9d9
}

.vote-down-selected {
  border-bottom: 3px solid #ff0000;
  font-size: 1.4vw;
  font-weight: bold
}

.vote-up, .vote-down, .vote-up-selected, .vote-down-selected {
  margin-left: 1vw;
  padding-left: 0.3vw;
  padding-right: 0.3vw;
  cursor: pointer;
  display: inline-block;
}
