.message_sender_received {
  text-align: left;
  grid-area: sd;
}

.message_sender_sent {
  text-align: right;
  grid-area: sd;
}

.message_sent {
  text-align: right;
  grid-area: ms;
}

.message_received {
  grid-area: ms;
  text-align: left;
}

.message_sent, .message_received {
  border-radius: 2px;
  border: 1px solid #ccc;
  padding-bottom: 0.1em;
}

.venue {
  grid-area: vn;
  text-align: left;
}

.sent {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-auto-rows: minmax(20px, auto);
    grid-template-areas:
      ". .  .  .  .  .  sd sd sd"
      ". .  ms ms ms ms ms ms ms"
}
* {box-sizing: border-box;}

.received {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-auto-rows: minmax(20px, auto);
    grid-template-areas:
      "sd sd sd .  .  .  .  . . "
      "ms ms ms ms ms ms ms . . "
}
* {box-sizing: border-box;}

.sent, .received {
  padding: 10px;
  margin: 0 0 10px 0;
  text-decoration: none;
  color: black;
}
