.message_text_received {
  background: #e0ebeb;
  color: black;
  border: 1px solid #e0ebeb;
}

.message_text_sent {
  background: #4CAF50;
  border: 1px solid #4CAF50;
  color: white;
}

.message_text_sent, .message_text_received {
  border-radius: 5px;
  padding: 5px;
  display: inline-block;
}

.message_sender_received {
    text-align: left;
    grid-area: sd;
}

.message_sender_sent {
    text-align: right;
    grid-area: sd;
}

.message_sent {
    text-align: right;
    float: right;
    grid-area: ms;
}

.message_received {
    grid-area: ms;
    float: right;
    text-align: left;
}

.message_sent, .message_received {
  font-size: 1.7vh;
}

.venue {
    grid-area: vn;
    text-align: left;
}

.sent {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-auto-rows: minmax(10px, auto);
    grid-template-areas:
      ". .  .  .  .  .  sd sd sd"
      ". .  ms ms ms ms ms ms ms"
}

.received {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-auto-rows: minmax(10px, auto);
    grid-template-areas:
      "sd sd sd .  .  .  .  . . "
      "ms ms ms ms ms ms ms . . "
}

.sent, .received {
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 5px;
  text-decoration: none;
  color: black;
}
