.ChatHeader {
    height: 4vh;
    z-index: 200;
}

.ChatHeader h3 {
  margin: 0;
  padding: 0;
}

.MessageBox {

    width: 100%;
    overflow-y: scroll;
    padding-right: 17px; /* Increase/decrease this value for cross-browser compatibility */
    box-sizing: content-box;
    height: 78vh;
    scroll-behavior: auto;
}

.MessageBuilder {
    width: 80%;
    height: 100%;
}

#MessageEntry {
    width: 80%;
    height: 100%;
    margin: 8px 0;
    font-size: 2vh;
    padding: 1.5vh 0;
    margin: 0;
    box-sizing: border-box;
}

.SendButton {
    background-color: #4CAF50;
    border-color: #4CAF50;
    color: white;
    width: 20%;
    height: 100%;
    font-size: 2vh;
    padding: 1.5vh 0;
    margin: 0;
    text-decoration: none;
    cursor: pointer;
}

.ChatPanel {
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: block;
}

.ChatHeader h1 {
    margin: 3px;
}

* {
    box-sizing: border-box;
}
