.ChatHeader {
  z-index: 200;
  height: 3.7vw;
}

.ChatHeader h1 {
  font-size: 3.1vw;
  height: 100%;
  padding-top: 0;
  margin: 0.3vw;
}

.MessageBox {
  width: 100%;
  overflow-y: scroll;
  padding-right: 17px; /* Increase/decrease this value for cross-browser compatibility */
  box-sizing: content-box;
  height: 78vh;
  scroll-behavior: auto;
  border: none;
}

.MessageBuilder {
    width: 80%;
    height: 100%;
}

#messageentrybox {
    width: 85%;
    height: 100%;
    margin: 8px 0;
    font-size: 1.5vh;
    padding: 1.5vh;
    margin: 0;
    color: black;
    border-bottom: 2px;
    background-color: white;
    border-radius: 15px;
    border-style: solid;
}

.SendButton {
    background-color: transparent;
    color: white;
    width: 15%;
    height: 100%;
    font-size: 1.5vh;
    padding: 1.5vh 0;
    margin: 0;
    border-style: none;
    text-decoration: none;
    cursor: pointer;
}

.ChatPanel {
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: block;
}
