.checked {
    background-color: #004d99;
}

.unchecked {
  background-color: #e6f2ff;
}

.flasher {
  width: auto;
  text-decoration: underline;
  color: black;

  animation-name: flash;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.flasher a:hover {
  text-decoration: underline;

}

.avBox {
  border: solid 1px white;
  width: 50em;
}

@keyframes flash {
  /* from {border-bottom: 1px solid white; border-top: 1px solid white; }
  to {border-bottom: 1px solid black; border-top: 1px solid black;} */
  from{text-decoration-color: white;}
  to{text-decoration-color: black;}
}
