/* Match result colours */
.win {
  border: 2px solid green;
    /* background-color: #c1ffd1; */
}

.lose {
  border: 2px solid red;
    /* background-color: #ffbaba; */
}

.draw {
  border: 2px solid yellow;
    /* background-color: #fffac1; */
}

.unplayed {
  border: 2px solid white;
  border: 2px solid white;
  /* background-color: #c4c4c4; */
}


.oppname {
    font-size: 2.5vmin;
}


.resultcard {
    height: auto;
    width: 70%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    /* display: inline-block; */
}

.resultcard h2 {
    font-size: 5vmin;
}

.subtext {
  font-size:1.5vmin;
}
