/* Match result colours */
.win {
    background-color: #c1ffd1;
}

.lose {
    background-color: #ffbaba;
}

.draw {
    background-color: #fffac1;
}

.unplayed {
  background-color: #c4c4c4;
}


.oppname {
    font-size: 2.5vmin;
}


.resultcard {
    height: auto;
    width: 90%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    /* border: 2px solid black; */
}

.resultcard h2 {
    font-size: 5vmin;
}
