#matchmakingpanel {
  /* Sizing */
  width: 80%;
  height: 100%;
  left: 20%;
  position: absolute;
  align-content: center;

  /* Aesthetics */
  background-color: white;
}

#matchoptions {
  height: 100%;
  width: 100%;
  border-spacing: 0;
}

#matchoptions td {
  text-align: center;
  width: 100%;
}

#matchoptions h1 {
  height: 10%;
  width: 100%;
  color: #001d28;
  text-decoration: none;
  font-size: auto;
}

#sportcontainer {
  margin: auto;
  height: 80%;
  width: 80%;
  background-color: #ccecf9;
  border-radius: 25px;
}

#submitwrapper {
  display: flex;
  justify-content: center;
}

#submitbtn {
  position:relative;
  background-color: #001d28; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
