.wrapper {
    border: 0px;
    padding: 0px;
    max-height: 100%;
    height: 100vh;
    width: 100%;
}

.wrapper > div {
    overflow-y: auto;
    padding: 0em;
}

.header {
    padding: 2px;
    background-color: #333333;
}

.main {
    max-height: 88vh;
    overflow-y: hidden;
    scroll-behavior: smooth;
}
