#menupanel {
  background-color: #333333;
  color: white;
  align-content: center;
  height: 10%;
}

#menupanel h1 {
  padding-top: 10px;
  text-align: center;
  margin: auto;
  font-size: 6vmin;
  padding-bottom: 0;
}



#menuwrapper {
  margin: auto;
  text-align: center;
}

#menuwrapper table {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  table-layout: fixed;
}

#menuwrapper a {
  display: block;
  color: white;
  text-align: center;
  padding-left: 15%;
  padding-right: 15%;
  font-size: 2vmin;
  text-decoration: none;
}

#menuwrapper td:hover {
  background-color: #111111;
}
