@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

body {
    /* Sizing */
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: table;
    position: absolute;

    /* Aesthetics  */
    background-color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

#contentpanel {
    height: 100%;
    margin-left: auto;
    margin-right: auto;

    /* Aesthetics */
}

#contentcontainer {
    /* Sizing */
    width: 80%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;

    /* Aesthetics */
}

.centertext {
    text-align: center;
}

.thintext {
    font-size: 3vmin;
    font-weight: 400;
}
