/* Elements */
#username {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-size: 5vmin;
}

#locChangeLink {
    font-size: 2vmin;
    text-decoration: underline;
}

/* Text formatting */
.centertext {
    text-align: center;
}

.thintext {
    font-size: 3vmin;
    font-weight: 400;
}


#fixturesbox {
    width: 80%;
    height: 20em;
    margin-left: auto;
    margin-right: auto;
    overflow-y: auto;
    scroll-behavior: smooth;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding-top: 15px;
    padding-bottom: 15px;
}

td {
  vertical-align: top;
}
.AvTable {
    width: 100%;
    text-align: center;
}

.AvTable table {
    margin: 0 auto; /* or margin: 0 auto 0 auto */
}

#fixturesbox table {
  width: 100%;
}

#changelocbox {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
