

.form_container{
    width:    100%;
    display:  inline;
    float:    left;
}

.form_wrapper{
    padding:  20px;
}


#players_container{
    width:    50%;
    display:  block;
    float:    left;

    z-index:  99999 ;
    position: relative;
}

#sport_container{
    width:    50%;
    display:  block;
    float:    left;

    z-index:  99998 !important;
    position: relative;
}


#duration{
    width:    50%;
    float:    left;
    display:  inline;
    position: relative;
}

#datetime{
    width:    47%;
    float:    right;
    display:  inline;
    z-index:  50000;
    position: relative;
}


#searchBox {
  boxSizing: border-box;
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 32px;
  padding: 0 12px;
  borderRadius: 3px;
  boxShadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  fontSize: 14px;
  outline: none;
  textOverflow: ellipses;
}
