#datetime{
    width:    50%;
    float:    right;
    display:  inline;
    position: relative;
    z-index:  99999 !important;
}

#duration{
    width:    45%;
    float:    left;
    display:  inline;
}

.form_container{
    width:    100%;
    display:  inline;
    float:    left;
}
