#newuserloctext {
  margin-bottom: 10px;
}

#newusertitle {
  margin-top: 10px;
}

.help-block {
  color: white;
}

#backtosplash a {
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: underline;
  color: lightblue;
}

.search-wrap {
  color: black;
}
